h1,
h2 h3,
h4,
h5,
.site_logo {
    width: 12cm;
    height: 12cm;
}

.active-link{    
    color: grey;
}

#winsCard>div>div.DataCardContent>div.DataCardNumbers>div.Value {
    font-size: 1rem;
}

#polesCard>div>div.DataCardContent>div.DataCardNumbers>div.Value {
    font-size: 1rem;
}

#lapCard>div>div.DataCardContent>div.DataCardNumbers>div.Value {
    font-size: 1rem;
}

